html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-image: url("../pic/3.png");

}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table ,td,th{
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto auto;
    text-align: left;
    padding-top: 5px;
    padding-left: 15px;
}
a{
    text-decoration: none;
    color:#4b0082;
}

#index{
    margin: auto auto;
    /*background-color: gray*/
}
#title{
    background-color:#82b4f8;
    font-weight:bold ;
    overflow:hidden;
}
 #logo{
    margin-top: 15px;
    margin-left: 200px;
    padding-top: 25px;
    width: 200px;
    height: 70px;
    font-weight:bold ;
    font-size: 200%;
    float: left;
    text-align: center;
}
#top{
    float: right;
    padding-top: 10px;
    margin-right: 200px;
    margin-bottom: 20px;
    width: 600px;
    height: 20px;
    text-align: right;
}
#gtitle{
    float: left;
    width: 600px;
    height: 25px;
    margin-top: 20px;
    margin-left: 25px;
    padding-top: 10px;
}
#list{

    float: left;
    margin-top: 5px;
    margin-left: 200px;
    width: 200px;
    height: 600px;
    font-weight: bold;
    /*background-color: gray;*/
}
.detail{
    text-align: center;
    margin-top: 25px;
}

#main{
    margin-top: -600px;
    margin-left: 400px;
    width: 910px;
    height: 600px;
    float: left;
    padding-top: 50px;
	/*background-color: red*/
	
}

#add_app {
   font-size: 200%;
   background-color: green;

}
#applist{
    background-color: green;
}
