<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
	<key>items</key>
	  <array>
		<dict>
		 <key>assets</key>
		  <array>
		   <dict>
		    <key>kind</key>
		    <string>software-package</string>
		    <key>url</key>
		    <string>http://192.168.21.89/new_app/pri_ipa/focusclub_lcy.ipa</string>
		  </dict>
		  <dict>
           <key>kind</key>
		   <string>display-image</string>
           <key>needs-shine</key>
           <true/>
           <key>url</key>
           <string>http://192.168.21.89/new_app/pri_plist/焦点视界HD_logo.png</string>
          </dict>
          <dict>
           <key>kind</key>
           <string>full-size-image</string>
           <key>needs-shine</key>
           <true/>
           <key>url</key>
           <string>http://192.168.21.89/new_app/pri_plist/焦点视界HD_logo.png</string>
          </dict>
        </array>
        <key>metadata</key>
         <dict>
          <key>bundle-identifier</key>
          <string>com.focustech.focusclubTest</string>
          <key>bundle-version</key>
          <string>2.1</string>
          <key>kind</key>
          <string>software</string>
          <key>subtitle</key>
          <string>焦点视界HD</string>
          <key>title</key>
          <string>焦点视界HD</string>
         </dict>
      </dict>
   </array>
 </dict>
</plist>

